html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,table,th,td,fieldset,form,input,textarea,select,hr,blockquote,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;line-height:2;}
img{border:none;vertical-align:top;}
html{background:#84d8d1;font-size:10px;}
body{color:#333;font-family:Arial,'\5fae\8f6f\96c5\9ed1',sans-serif;line-height:1.6;}

a,
a:hover{color:#41c1ca;text-decoration:none;}

h1{color:#41c1ca;font-size:2.4rem;line-height:50px;text-shadow:0 0 10px #fff,0 0 10px #fff,0 0 10px #fff;text-align:center;}
h2{font-size:1.6rem;line-height:20px;}

.wrap{position:relative;background:url(../img/header.png) no-repeat;background-size:contain;}
.hotel{margin:0 10px;padding:10px;border-radius:10px;background-color:rgba(255,255,255,0.7);color:#41c1ca;font-size:1.4rem;line-height:20px;}

.map{margin-top:10px;}
.map img{margin:0 auto;border-radius:10px;background:#fff;}

.btns{overflow:hidden;margin-top:16px;text-align:center;line-height:44px;
background:rgba(255,255,255,1);
background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,248,246,1) 100%);
background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,248,246,1) 100%);
background:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,248,246,1) 100%);
background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,248,246,1) 100%);
background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(234,248,246,1) 100%);
}
.btns a{float:left;position:relative;width:34%;font-size:1.8rem;}
.btns a + a{width:33%;}
.btns a + a:before{content:'';position:absolute;top:0;left:0;width:1px;height:100%;background-color:#84d8d1;}



/**
 * Responsive
 * ------------------------------ */
@media screen and (min-width:641px){
html{background:#191e23 url(../img/bg/noisy_net.png) repeat;}
.wrap{width:640px;margin:0 auto;background-color:#84d8d1;}
}



/**
 * Retina
 * ------------------------------ */
@media only screen and (-webkit-min-device-pixel-ratio:2){
.wrap{background-image:url(../img/header@2x.png);}
}

@media only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:641px){
html{background-image:url(../img/bg/noisy_net@2x.png);}
}